body {
}
nav {
    background-color: lightpink;
    height: 100px;
    border-color:darkblue;
    font-size: 30px;
    font-weight:300;
    font-family:Mistral;
}

nav a{
        margin-left: 200px;
        color: white;
    }

#motto {
    font-style:italic;
    font-size:larger;
    margin-top:25px;
    margin-left: 300px;
}

#services_home {
    font-family: 'Bookman Old Style'
}


#yoki {
    float: right;
    margin-top: 200px;
    margin-right: auto;
    font-style: italic;
}